<div class="container">
<h2 class="devise-title"><%= t('.title', resource: resource.model_name.human) %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :specification %>
      <%= '※半角6-10文字、かつ英数字をそれぞれ1文字以上含めてください' %>
      <br>
      <%= f.text_field :specification, autofocus: true, autocomplete: "specification", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :birthday %>
      <%= f.date_field :birthday, autocomplete: "birthday", class: 'form-control', class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <% if current_user.icon? %>
        <%= image_tag current_user.icon.url %>
        <label><%= f.check_box :remove_icon %> 画像を削除</label>
      <% else %>
        <%= image_tag ("default_user.png") %>
      <% end %>
      <%= f.file_field :icon %>
      <%= f.hidden_field :icon_cache %>
    </div>

    <br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="form">
      <%= f.label :password_change %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
    </div>

    <div class="form">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="form">
      <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit t('.update'), class: 'devise-btn' %>
    </div>
    <br>
    <br>
    <br>
  <% end %>
    <div class="edit_form_back">
      <%= button_to t('.cancel_my_account'), registration_path(resource_name), class:"btn btn-danger btn-xs", data: { confirm: t('.are_you_sure') }, method: :delete %>
    </div>
    <div class="edit_form_back">
      <%= link_to '戻る', root_path, class:"btn btn-default" %>
    </div>
</div>
