<h2 class="devise-title"><%= t('.sign_up') %></h2>

<div class="devise-form-box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :specification %>
      <%= '※半角6-10文字、かつ英数字をそれぞれ1文字以上含めてください' %>
      <br>
      <%= f.text_field :specification, autocomplete: "specification", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :birthday %>
      <%= f.date_field :birthday, autocomplete: "birthday", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :icon %>
      <%= f.file_field :icon %>
      <%= f.hidden_field :icon_cache %>
    </div>
    <br>
    <div class="form">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>
    <br>
    <div class="form">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'%>
    </div>
    <br>
    <div class="form">
      <%= f.submit t('.sign_up'), class: 'devise-btn' %>
    </div>

    <div class="devise-help">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
