<h3>トップページ</h3>

<div><!-- ※概要等の文面：フロント実装時に詳細決める -->
  <div>
    <div>
      <h6>サービスの概要</h6>
      <div>
        <%= '会いたい人に会えないコロナ禍のいま、大切な人と疎遠になっていませんか？「Continue」は、家族や親友などずっと繋がっていたい大切な人のみに日常を共有し、離れていてもコミュニケーションが活性化されるアプリです。' %>
      </div>
    </div>
    <br>
    <div>
      <h6>コンセプト</h6>
      <div>
        <%= 'SNSは会ったことのない人とコミュニケーションをとることができるとても便利なサービスです。これを利用して、たくさんの人間関係を築いていくことはとても素晴らしいことです。しかし、オンライン上で多くの人と出会い、簡単にコミュニュケーションが取れる今だからこそ、昔からの家族や親友との関係を大切にしたい、と日頃から強く感じていました。このアプリを使って、離れて暮らす大切な人と日々の出来事を共有することで、
        会えていない時間の空白を埋めてくれる、温かいアプリになることを期待して設計しました。' %>
      </div>
    </div>
    <br>
    <div>
      <h6>機能についての説明</h6>
      <div>
        <%= '・・・機能説明・・・' %>
      </div>
    </div>
  </div>
</div>
<br>
<div>
  <% unless user_signed_in? %>
    <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-primary" %>
    <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-primary" %>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
    <%= link_to '管理者ゲストログイン（確認用）', users_guest_admin_sign_in_path, method: :post, class:"btn btn-outline-primary" %>
  <% end %>
</div>
