<div class="container">
  <%= form_with(model: group, local: true) do |form| %>
    <% if group.errors.any? %>
      <div id="error_explanation">
        <h2><%= t("errors.template.header", model: Group.model_name.human, count: group.errors.count) %></h2>

        <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control'%>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="actions">
      <%= form.submit '実行', class: 'devise-btn' %>
    </div>
  <% end %>
</div>
