<div class="container">
  <div class="row">
    <h3 class="group_title"><%= @group.name %>グループ</h3>
    <div class="group_post_new">
      <%= link_to '　日常を投稿する　', new_group_post_path(@group), class:"btn btn-warning" %>
    </div>
    <div class="group_post_index">
      <%= link_to 'グループの投稿一覧', group_posts_path(@group), class:"btn btn-warning" %>
    </div>
  </div>

  <div class="row">
    <div class="group_info col-md-6">
      <div class="group_image">
        <% if @group.image? %>
          <%= image_tag @group.image.url %>
        <% else %>
          <%= image_tag ("default.png") %>
        <% end %>
      </div>
      <div class="group_edit">
        <%= link_to 'グループ編集', edit_group_path(@group) ,class:"btn btn-default btn-xs" %>
      </div>
    </div>

    <div class="member col-md-6">
      <h4 class="member_title">所属メンバー</h4>
      <% @group.assigns.includes([:user]).each do |assign| %>
    <table class="table">
          <td class="user_icon_group_page">
            <% if assign.user.icon? %>
              <%= image_tag assign.user.icon.url, class:"trim-image-to-circle" %>
            <% else %>
              <%= image_tag ("default_user.png"), class:"trim-image-to-circle" %>
            <% end %>
          </td>
          <td id="member_column"><%= assign.user.name %></td>
          <% if assign.user == current_user %>
            <td id="member_column"><%= link_to '退会', group_assign_path(@group, assign), class:"btn btn-danger btn-xs", method: :delete, data: { confirm: '本当にグループから抜けますか?' } %></td>
          <% else %>
            <td></td>
          <% end %>
      <% end %>
    </table>
  </div>
  </div>

  <div class="row">
    <div class="invite">
      <%= link_to 'メンバー招待', invite_group_path(@group), class:"btn btn-default"%>
    </div>
  </div>
  <br>
</div>
