<div>
  <h3><%= @group.name %>グループ</h3>
  <br>
  <div>
  <%= link_to '日常を投稿する(リンク)', new_group_post_path(@group) %>
  </div>
  <br>

  <div>
  <%= link_to 'グループの投稿一覧を見にいく(リンク)', group_posts_path(@group) %>
  </div>

  <br>
  <div class="group_image">
    <% if @group.image? %>
      <%= image_tag @group.image.url %>
    <% else %>
      <%= image_tag ("default.png") %>
    <% end %>
  </div>

  <br>
  <div>
    <%= link_to 'グループ編集(リンク)', edit_group_path(@group) %>
  </div>
  <br>
  <div>
    <table>
      <tr>
        <td>ユーザー画像</td>
        <td>ユーザー名</td>
        <td>退会ボタン（本人のみ表示）</td>
      <% @group.assigns.includes([:user]).each do |assign| %>
        <tr>
          <td class="user_icon_group_page"><%= image_tag assign.user.icon.url %></td>
          <td><%= assign.user.name %></td>
          <% if assign.user == current_user %>
            <td><%= link_to 'グループ退会', group_assign_path(@group, assign), method: :delete, data: { confirm: '本当にグループから抜けますか?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <br>
  <div>
    <%= link_to 'メンバー招待', invite_group_path(@group) %>
  </div>
  <br>
  <div>
  <%= link_to 'Back', groups_path %>
  </div>
</div>
