<div class="container">
  <%= form_with(model: [@group, @post], local: true) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= t("errors.template.header", model: Post.model_name.human, count: post.errors.count) %></h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :date %>
      <%= form.date_field :event_on, class: 'form-control' %>
    </div>


    <div class="field">
      <%= form.label :image %>
      <% if @post.image? %>
        <%= image_tag @post.image.url %>
      <% end %>
      <%= form.hidden_field :image_cache %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit '投稿する', class: 'devise-btn' %>
    </div>
  <% end %>
</div>
