<div class="container">
  <div class="row">
    <h3 class="group_title"><%= @group.name %>グループ 投稿一覧</h3>
    <div class="group_post_new">
      <%= link_to '日常を投稿する', new_group_post_path(@group), class:"btn btn-warning" %>
    </div>
  </div>

  <div class="row">
  <div class="post_search_form">
    <div class="form-horizontal" role="form">
      <div class="form-group">
        <h4 class="col-md-2">絞込み検索</h4>
        <%= search_form_for @q, url:search_group_posts_path do |f| %>
        <div class="col-md-3">
          <%= f.search_field :user_name_cont, class: 'form-control', placeholder: '投稿者' %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <%= f.date_field :event_on_gteq, include_blank: true, class: 'form-control' %>
        </div>
        <h5 class="col-md-1">　　〜　　</h5>
        <div class="col-md-2">
          <%= f.date_field :event_on_lteq, include_blank: true, class: 'form-control' %>
        </div>
          <%= f.submit "検索", class:"btn btn-info" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class="post_image">
      <%= link_to group_post_path(post.group_id, post) do %>
        <%= image_tag post.image.url %>
      <% end %>
    </div>
  <% end %>
  </div>






<div class="index_page">
  <%= paginate @posts %>
</div>

<div class="edit_form_back">
  <%= link_to '戻る', group_path(@group), class:"btn btn-default" %>
</div>

</div>
