<h3>グループの投稿一覧</h3>
<div>
  <%= search_form_for @q, url:search_group_posts_path do |f| %>
    <%= f.label :user_name_cont, "投稿者" %>
    <%= f.search_field :user_name_cont %>

    <%= f.label :event_on %>
    <%= f.date_field :event_on_gteq, include_blank: true %> 〜
    <%= f.date_field :event_on_lteq, include_blank: true %>
    <br>
    <%= f.submit "検索" %>
  <% end %>
</div>

<table>
  <tr>
    <th>Event on</th>
    <th>Content</th>
    <th colspan="1"></th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>

  <% @posts.includes([:user]).each do |post| %>
    <tr>
      <td><%= post.event_on %></td>
      <td class="post_image">
        <%= link_to group_post_path(post.group_id, post) do %>
          <%= image_tag post.image.url %>
        <% end %>
      </td>
      <td><%= post.content %></td>
      <td><%= post.user.name %></td>
      <% if post.user == current_user %>
        <td><%= link_to 'Edit', edit_group_post_path(post.group_id, post) %></td>
        <td><%= link_to 'Destroy', group_post_path(post.group_id, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  <% end %>
    </tr>
</table>
<div class="index_page">
  <%= paginate @posts %>
</div>

<%= link_to 'Back', group_path(@group) %>
