<div class="container">
  <div class="row">
    <h3 class="group_title"><%= @group.name %>グループ 投稿一覧 / 絞り込み</h3>


  <% @results.includes([:user]).each do |result| %>
    <div class="post_image">
        <%= link_to group_post_path(result.group_id, result) do %>
          <%= image_tag result.image.url %>
        <% end %>
      <%= result.event_on %> / <%= result.user.name %>
    </div>
  <% end %>
  </div>

  <div class="edit_form_back">
    <%= link_to '戻る', group_posts_path(@group), class:"btn btn-default" %>
  </div>
</div>
