<p>
  <strong>Event on:</strong>
  <%= @post.event_on %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <%= image_tag @post.image.url %>
</p>

<div>
  <h4>コメント</h4>
  <div id="comments_area">
    <%= render 'comments/index', comments: @comments, post: @post, group: @group %>
  </div>
  <% if user_signed_in? %>
    <%= render 'comments/form', comment: @comment, post: @post, group: @group %>
  <% end %>
</div>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_group_post_path(@post.group_id, @post) %>
<% end %>

<br>
<%= link_to 'Back', group_posts_path %>
